<div class="form-box" id="login-box">
  <div class="header">Register to be a Reech Pro</div>
  <%= form_for(@user) do |f| %>
      <div class="body bg-gray">
          <div class="form-group">
              <%= f.text_field :first_name,:placeholder=>"First Name",:class=>"form-control" %>
          </div>
          <div class="form-group">
              <%= f.text_field :last_name,:placeholder=>"Last Name",:class=>"form-control" %>
          </div>
          <div class="form-group">
             <%= f.text_field :email,:placeholder=>"Email - name@email.com",:type=>"email",:class=>"form-control" %>
          </div>
          <div class="form-group">
              <%= f.text_field :phone_number,:placeholder=>"Phone Number - 12223334444",:type=>"phone_number",:class=>"form-control"%>
          </div>
          <div class="form-group">
              <%= f.password_field :password,:placeholder=>"eg. X8df!90EO",:class=>"form-control" %>
          </div>
          <div class="form-group">
              <%= f.password_field :password_confirmation,:placeholder=>"eg. X8df!90EO",:class=>"form-control" %>
          </div>

      </div>
      <div class="footer">                    

          <%= f.submit 'Sign me up', :class=>'btn bg-olive btn-block' %>
          <% end %>

          <a href="<%= new_user_session_path %>" class="text-center">I already have a membership</a>
      </div>
  </form>

  <div class="margin text-center">
      <span>Register using social networks</span>
      <br/>
      <a href="/auth/facebook">
      <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button></a>
      <!-- <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
      <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button> -->

  </div>
</div>



