<% if scribbles_streams.empty? %>
  <h3> no questions yet </h3>
<% else %>
		<% scribbles_streams.each do |scribble| %>
		<% if Friendship.are_friends(current_user.beamer_id,scribble.posted_by_uid) or (current_user.beamer_id == scribble.posted_by_uid) %>   	
			<div class="scribblebody" id="<%=scribble.scribble_id %>"> 
    		<div class="scribbleimg"><%=image_tag 'default_avatar.png' %></div>
    		<div class="scribbletext">
      		<blockquote>
      		  <p><%= link_to scribble.post, scribble %></p>
      	  		<small><%= scribble.posted_by %></small>
      		</blockquote>
      		<div class="scribbletime">
      	  		<label class="label">asked <%= TimelineBeautify.beauty_time(scribble.created_at) %></label>
      	  		<label class="label"><%= scribble.posted_comments.count %> answers</label>
			  	
      		</div>
    		</div>
  			<%= render :partial=>"scribble_comments/newcomment",:locals=>{:scribble=>scribble} %>
  			</div>
		<% end %>
  <% end %>
<% end %>

